h1 {
  padding: 20px;
  color: rgb(250, 185, 7);
  background: #7741dbe5;
  text-align: center;
  font-family: "Russo One", sans-serif;
}

.sub-header {
  padding: 5px;
  color: rgb(250, 185, 7);
  font-size: 20px;
  font-weight: 800;
  justify-content: center;
  display: flex;
  justify-content: space-between;
}

button {
  color: rgb(250, 185, 7);
  border-radius: 8px;
  background-color: #7741dbe5;
  margin-bottom: 8px;
  transition: color 0.3s,
    background-color 0.3s;
}
button:hover {
  color: #7741dbe5;
  background-color: rgb(250, 185, 7);
  font-weight: 800;
}
.bold {
  text-transform: uppercase;
}