.MuiDialog-paperWidthSm {
  max-width: null !important;
  width: 80% !important;
  background-color: #aea2c5e5 !important;
  border-radius: 30px !important;
  text-align: center;
}
.title {
  color: rgb(250, 185, 7) !important;
  margin-top: 15px;
}
.MuiDialogContentText-root {
  font-size: 20px !important;
}
.MuiTypography-h6 {
  font-size: 25px !important;
  color: rgb(250, 185, 7) !important;
  font-weight: 500;
}
.MuiDialogActions-root {
  display: unset !important;
}
.MuiButton-label:hover {
  color:#7741dbe5 !important;
}